{{>header}}
<div class="row mt-5">
    <div class="col-md-6 offset-md-3">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Book Visit For Patients</h5>
                <p class="card-text">Click here to book a visit for a patient</p>
                <a href="#" class="btn btn-primary">Search Patient</a>
            </div>
        </div>
    </div>
</div>
{{>footer}}