{{>header}}
<h1 class="my-5">Examinations for {{patient.firstName}} {{patient.lastName}}</h1>
{{#examinations.0}}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Height</th>
            <th scope="col">Weight</th>
            <th scope="col">Diastolic pressure</th>
            <th scope="col">Systolic pressure</th>
        </tr>
        </thead>
        <tbody>
        {{#examinations}}
            <tr>
                <td>{{examinationDate}}</td>
                <td>{{height}}</td>
                <td>{{weight}}</td>
                <td>{{diastolicPressure}}</td>
                <td>{{systolicPressure}}</td>
            </tr>
        {{/examinations}}
        </tbody>
    </table>
{{/examinations.0}}

{{^examinations.0}}
    <div class="alert alert-warning" role="alert">
        No examinations found.
    </div>
{{/examinations.0}}

{{>footer}}
